body {
  background-color: black;
  color: white;
  margin: 5% auto auto auto;
}

h1 {
  font-size: 60px;
}

#main {
  padding: 50px;
}

#image {
  width: 10%;
}

p {
  font-size: 30px;
}

#credit {
  font-size: 15px;
}

a {
  text-decoration: none!important;
}

canvas {
	margin-top: 20px;
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}